.card {
  margin: 0.5mm;
  border-style: solid;
  border-width: 0.8mm;
  border-color: black;
  border-radius: 3mm;
  width: 52mm;
  height: 76mm;
  display: grid;
  display: inline-grid;
}

.cost {
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
}

.name {
  text-align: center;
  font-size: 10pt;
}

.image {
  min-height: 95px;
}

.info {
  border-style: solid;
  border-color: black;
  border-left: 0.4mm;
  border-bottom: 0.4mm;
  border-right: 0.4mm;
  margin-left: 1mm;
  margin-right: 1mm;
  padding-top: 1mm;
  font-weight: bold;
}

.type {
  float: left;
  padding-left: 1mm;
  padding-right: 19mm;
}

.attack {
  float: left;
  padding-right: 1mm;
}

.divider {
  float: left;
  padding-right: 1mm;
}

.health {

}

.mana {
  padding-right: 3mm;
  float: right;
}

.text{
  margin: 1mm;
  margin-left: 2mm;
  margin-bottom: 2mm;
  border-style: solid;
  border-width: 0.4mm;
  border-color: black;
  border-radius: 2mm;
  width: 45mm;
  height: 23mm;
  padding: 1mm;
}

.line {
  font-size: 10pt;
  padding-bottom: 0.1mm;
}
